
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.navbar {
    display: flex;
    background: #333;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    margin: 0;
    color: #fff;
}


.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    gap: 20px;
}

.nav-items li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;

}

.nav-items li a:hover {
    color: aquamarine;
}




.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 40px;
    /* flex-wrap: wrap; */
}

.hero-left h2, .hero-right h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-left p {
    max-width: 500px;
    margin: 20px 0;
}

button {
    padding: 12px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-right img {
    max-width: 100%;
    border-radius: 8px;
}

/* FEATURES */
.features {
    padding: 40px;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* ABOUT */
.about {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}



form {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #333;
    color: white;
    border: none;
}

.contact h2 {
    text-align: center;
}


/* FOOTER */
footer {
    background: #333;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

/* RESPONSIVE BREAKPOINT */
@media (max-width: 768px) {

    .hero {
        text-align: center;
        padding: 30px;
    }

    .hero-left h1 {
        font-size: 30px;
    }
}