/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
.nav {
    list-style: none;
    background: #333;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left, .right {
    flex: 1;
}

h2 {
    margin-top: 30px;
}

ul {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

form {
    background: white;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #333;
    color: white;
    border: none;
}

@media (max-width: 768px) {
 .container {
    flex-direction: column;
    text-align: center;
 }

 img {
    margin: 0 auto;
 }
}